@import '../../colors.scss';

.box-form{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color1;
    height: 100vh;

    .form{
        all: unset;
        width: 20%;
        margin: 1em;
        padding: 1em;
        color: $second-color1;
        border-radius: 0.5em;
        border-radius: 0.5em;
        min-height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    input{
        all: unset;
        margin: 0.5em;
        background-color: $primary-color1;
        padding: 1em;
        border-radius: 1em;
        color:$bottom-color1;
        #abstract{
            width: 50px;
            height: 50px;
        }
    }
    button{
    all: unset;
    margin: 0.5em;
    text-align: center;
    color: $bottom-color1;
    font-size: 20px;
    font-weight: 500;
    border-radius: 1em;
    padding: 0.5em 1.2em;
    transition: all 1s ease;
    position: relative;
    }
    button:hover{
        background: $second-color1;
        color: #fff ;
    }
    
}