@import '../../colors.scss';
.Header{
    display: flex;
    justify-content: space-around;
    padding: 1em;
    background-color: $primary-color1;
    color: black;
    list-style-type: none;
    font-size: 18px;
    font-family: 'Times New Roman';
}
