//Paleta 1
$background-color1: #FFF8F3;
$bottom-color1: #318aac;
$primary-color1: #FED1EF;
$second-color1: #A3E4DB;

//Paleta 2
$background-color2: #FCF8EC;
$bottom-color2: #79A3B1;
$primary-color2: #456268;
$second-color2: #D0E8F2;